/* 

Global Styles:
- Resets padding and margin for all elements to 0.

HTML and Body:
- Sets the width and height to 100% of the viewport.
- Sets the font size to the average of 13.9% of the viewport height and width.

Button:
- Sets the width to the average of 19.8% of the viewport height and width.
- Sets the height to the average of 5.9% of the viewport height and width.
- Sets the font size to 11.9% of the default font size.
*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: calc((13.9vh + 13.9vw)/2);
}

button {
    width: calc((19.8vh + 19.8vw)/2);
    height: calc((5.9vh + 5.9vw)/2);
    font-size: 11.9%;
}